<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    {{ if .Params.avatar }}
                        {{ $imagePath := printf "/avatars/%s" .Params.avatar }}
                        {{ $image := resources.Get $imagePath }}
                        <img src="{{ $image.RelPermalink }}" alt="{{ .Params.name }}">
                    {{ else }}
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    {{ end }}
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-5"><a href="{{ .Params.link }}">{{ .Params.name }}</a></p>
                <p class="subtitle is-6 has-text-weight-bold">{{ .Params.role }}</p>
            </div>
        </div>

        <div class="content">
            {{ .Content }}
        </div>
    </div>
</div>
